include script
include stylesheet

html
    head
        title= title
        link(
            rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        )
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
        )
        script(
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
        )
    body
        section.container
            section
                div.row
                    div.col-md-12.text-center
                        h3= 'ID = ' + address.id
                        p= [address.name, address.street, address.city, address.state, address.country].join(', ')
                    hr
        
            section
                div.row
                    div.col-md-6
                        div
                            form(
                                method='post'
                                action='/delete_address/' + address.id
                            )
                                input(
                                    type='submit'
                                    class='btn btn-danger'
                                    value='Delete this record'
                                )
                        div
                            a(
                                href='/addresses'
                            )
                                button(class='btn btn-primary') View all records
                    
                    div.col-md-6
                        form(
                            action='/update_address/' + address.id
                            method='post'
                        )
                            div(
                                class='field'
                            )
                                input(
                                    type='text'
                                    class='form-control'
                                    name='name'
                                    placeholder='Record name'
                                    value= address.name
                                )
                            div(
                                class='field'
                            )
                                input(
                                    type='text'
                                    class='form-control'
                                    name='street'
                                    placeholder='Street'
                                    value= address.street
                                )
                            div(
                                class='field'
                            )
                                input(
                                    type='text'
                                    class='form-control'
                                    name='city'
                                    placeholder='City'
                                    value= address.city
                                )
                            div(
                                class='field'
                            )
                                input(
                                    type='text'
                                    class='form-control'
                                    name='country'
                                    placeholder='Country'
                                    id='country-input'
                                    onkeyup='checkCountry(this)'
                                    value= address.country
                                )
                                div.card#country-suggestions
                            div(
                                class='field'
                            )
                                input(
                                    type='text'
                                    class='form-control'
                                    name='state'
                                    placeholder='State'
                                    value= address.state
                                )
                            div(
                                class='field'
                            )
                                input(
                                    type='submit'
                                    class='btn btn-success btn-block'
                                    value='Update record'
                                )